#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#Forge
Forge
build
out
run/
*.ipr
*.iws
*.iml
*.db
.idea
.gradle/
.gradle/2.8/
.gradle/2.9/
.gradle/gradle.log/
.gradle/minecraft/
classes/
